.section-header {
  padding-top: 50px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.section-header h2 {
  font-size: 2rem;
  color: #333;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  width: fit-content;
}

.section-header p {
  font-size: 15px;
  color: #666;
  line-height: 1.5;
  text-align: center;
}

.section-header h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 3px;
  background-color: #F4CE14;
}
